<div class="fade_in">
<div class="container">

    <div class="row">
        <div class="col">
        </div>

        <div class="col">
            <img src=<%=@artist_img_url %> class="artist-image">
        </div>

        <div class="col">
        </div>

    </div>

    <div class="row">
        <div class="col">
        </div>

        <div class="col">
            <h2 class="game-title">Total Score: <%= @total_score %></h2>
        </div>

        <div class="col">
        </div>

    </div>

        
        <div class="row">

            <table class="table table-light table-striped table-hover">
                <thead>
                    <tr>
                    <th scope="col" class="table-top-left-corner">#</th>
                    <th scope="col">Guess</th>
                    <th scope="col">Actual</th>
                    <th scope="col" class="table-top-right-corner">Score</th>
                    </tr>
                </thead>
                <tbody>
                    <% @results.each_with_index do | result,index | %>
                        <tr>
                        <th scope="row"><%= index + 1%></th>
                        <td><%= result[:guess] %></td>
                        <td><%= result[:actual] %></td>
                        <td><%= result[:score] %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="row">

            <div class="col">
                <a href="/home">
                    <button class="buttons-game">Home</button>
                </a>
            </div>
            
            <div class="col">
                <a href="/scoreboard">
                    <button class="buttons-game">Scoreboard</button>
                </a>
            </div>  

            <div class="col">
                <a id="logout"><button class="buttons-game">Logout </button></a>
            </div>

            </div>
        </div>


        <% if @confetti %>
        <script type="text/javascript" src="../../app/assets/javascript/confetti.js"></script>
            <script>

                const start = () => {
                    setTimeout(function() {
                        confetti.start()
                    }, 1000);
                };
                const stop = () => {
                    setTimeout(function() {
                        confetti.stop()
                    }, 5000);
                };

                start();
                stop();
            </script>
        <% end %>
        </div>


        </div>
        <script>
            const button = document.querySelector("#logout")
            const origin = window.location;
            function logout() {
                const spotifyLogoutWindow = window.open("/logout", 'popup','width=600,height=600')                                                                                              
                setTimeout(() => spotifyLogoutWindow.close(), 2000)
                setTimeout(() => origin.reload(), 3000)
            }

            button.addEventListener('click', logout)

        </script>
</div>
</div>
