
    <h1>Scoreboard</h1>

    <div>
    <a class="logout">Logout</a>

        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Number of Games</th>
                <th scope="col">Total Score</th>
                <th scope="col">Average Score</th>
                </tr>
            </thead>
            <tbody>
                <% @users_sorted_total_score.each_with_index do | user, index | %>
                    <% if user[:id] == @logged_in_user_id %>
                        <tr class="table-info">
                        <th scope="row"> <%= index + 1 %></th>
                        <td><%= user[:name] %></td>
                        <td><%= user[:num_games] %></td>
                        <td><%= user[:total_score] %></td>
                        <td><%= user[:av_score] %></td>
                        </tr>
                    <% else %>
                        <tr>
                        <th scope="row"> <%= index + 1 %></th>
                        <td><%= user[:name] %></td>
                        <td><%= user[:num_games] %></td>
                        <td><%= user[:total_score] %></td>
                        <td><%= user[:av_score] %></td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
    <div>
        <a class="btn btn-dark" role="button" href='/home' >Return to Home Page</a>


    </div>
    <script>
    const button = document.querySelector(".logout")
    const origin = window.location;
    function logout() {
        const spotifyLogoutWindow = window.open("/logout", 'popup','width=600,height=600')                                                                                              
        setTimeout(() => spotifyLogoutWindow.close(), 2000)
        setTimeout(() => origin.reload(), 3000)
    }

    button.addEventListener('click', logout)

    </script>