<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @user.image_url %>
</p>

<p>
  <strong>Total score:</strong>
  <%= @user.total_score %>
</p>

<p>
  <strong>Num games:</strong>
  <%= @user.num_games %>
</p>

<p>
  <strong>Auth token:</strong>
  <%= @user.auth_token %>
</p>

<p>
  <strong>Refresh token:</strong>
  <%= @user.refresh_token %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
