<div class="container">
  <div class="row">

      <h1 class="homepage_title" style="color: white;">Welcome <%= @name %>!</h1>

  </div>
  <div class="row">
    <div class="col">
      <img src=<%= @profile_picture_url %> width="110" height="110">
    </div>

    <div class="col">
      <a href="/guess-songs">
        <button class="play_btn">Play Guess the Songs</button>
      </a>
    </div>

    <div class="col">
        <a href="/guess-artist">
          <button class="play_btn">Play Guess the Artist</button>
        </a>
    </div>
    
    <div class="col">
        <a href="/scoreboard">
          <button class="play_btn">Scoreboard</button>
        </a>
    </div>  

    <div class="col">
      <a id="logout"><button class="play_btn">Logout     </button></a>
    </div>

  </div>
    <br>
    <br>
    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
            <th scope="col" class='table-top-left-corner'>#</th>
            <th scope="col">Date Played</th>
            <th scope="col">Artist</th>
            <th scope="col">Mode</th>
            <th scope="col" class='table-top-right-corner'>Score</th>
            </tr>
        </thead>

        <tbody>
            <% @recent_games.each_with_index do |game, index| %>
                    <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= Time.parse(game.created_at.to_s).strftime("%m/%d/%Y %H:%M") %></td>
                    <td><%= game.artist_name %></td>
                    <td><%= game.hard ? "Guess The Songs" : "Guess The Artist" %></td>
                    <td><%= game.hard ? game.score : game.score >0 ? "Win" : "Lose" %></td>
                    </tr>
            <% end %>
        </tbody>
    </table>
</div>
<script>
    const button = document.querySelector("#logout")
    const origin = window.location;
    function logout() {
        const spotifyLogoutWindow = window.open("/logout", 'popup','width=600,height=600')                                                                                              
        setTimeout(() => spotifyLogoutWindow.close(), 2000)
        setTimeout(() => origin.reload(), 3000)
    }

    button.addEventListener('click', logout)

    </script>