<div class="container">
  <div class="row">

      <h1 class="homepage_title">Welcome <%= @name %>!</h1>

  </div>
  <div class="row">
    <div class="col">
      <img src=<%= @profile_picture_url %> width="110" height="110">
    </div>
    <div class="col">
        <a id="play_a" href="/guess-songs">
          <button class="play_btn">Play</button>
        </a>
    </div>

    <div class="col">
      <a id="logout"><button class="play_btn">Logout </button></a>
    </div>
    
    <div class="col">
        <a id="scoreboard_a" href="/scoreboard">
          <button class="scoreboard_btn">Scoreboard</button>
        </a>
    </div>  

  </div>
    <br>
    <br>
    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Date Played</th>
            <th scope="col">Artist</th>
            <th scope="col">Score</th>
            </tr>
        </thead>

        <tbody>
            <% @recent_games.each do |game| %>
                    <tr>
                    <th scope="row">1</th>
                    <td><%= game.created_at %></td>
                    <td><%= game.artist_name %></td>
                    <td><%= game.score %></td>
                    </tr>
            <% end %>
        </tbody>
    </table>
</div>
<script>
    const button = document.querySelector("#logout")
    const origin = window.location;
    function logout() {
        const spotifyLogoutWindow = window.open("/logout", 'popup','width=600,height=600')                                                                                              
        setTimeout(() => spotifyLogoutWindow.close(), 2000)
        setTimeout(() => origin.reload(), 3000)
    }

    button.addEventListener('click', logout)

    </script>