<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>1</label> 
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <label>2</label>
    <%= form.label :artist_id %>
    <%= form.text_field :artist_id %>
  </div>

  <div class="field">
    <label>3</label>
    <%= form.label :artist_name %>
    <%= form.text_field :artist_name %>
  </div>

  <div class="field">
    <label>4</label>
    <%= form.label :score %>
    <%= form.number_field :score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
